* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: 0 auto;
  overflow: hidden;
}

.btn-main, .btn-light, .btn-dark {
  display: inline-block;
  padding: 0.8rem 2rem;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-main {
  background: #ffbc00;
  color: #333;
}

.btn-main:hover {
  background: #ffbc00;
}

.btn-light {
  background: #f4f4f4;
  color: #333;
}

.btn-light:hover {
  background: #ffbc00;
}

.btn-dark {
  background: #333;
  color: #f4f4f4;
}

.btn-dark:hover {
  background: #ffbc00;
}

.bg-main {
  background: #ffbc00;
  color: #fff;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-medium {
  background: #ccc;
  color: #000;
}

.bg-light {
  background: #f4f4f4;
  color: #000;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.text-center {
  text-align: center;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4rem;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

.s-heading {
  font-size: 1.5rem;
}

.m-heading {
  font-size: 2rem;
}

.l-heading {
  font-size: 4rem;
  line-height: 1.2;
}

.bottom-line {
  background: #ffbc00;
  width: 3rem;
  height: 2px;
  margin: 0 auto 1rem auto;
}

.section-title {
  font-size: 2rem;
  padding-bottom: 0.5rem;
  font-weight: 100;
  text-align: center;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: #fff;
  color: #333;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  width: 100%;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

#nav-bar {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

#nav-bar a {
  color: #fff;
}

#nav-bar img {
  width: 70px;
}

#nav-bar li {
  display: inline-block;
  padding: 1rem 1.5rem;
}

#nav-bar li a {
  display: inline-block;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  border-bottom: 3px transparent solid;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
}

#nav-bar li a:hover {
  border-color: #ccc;
}

#nav-bar li a.current {
  border-color: #ffbc00;
}

#header-home {
  background: #333;
  background: url("../img/showcase.jpg") no-repeat center center/cover;
  color: #fff;
  height: 100vh;
  overflow: hidden;
}

#header-home #header-content {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header-inner {
  background: url("../img/showcase.jpg") 20% 30%/cover;
  border-bottom: #ffbc00 3px solid;
}

#home-a {
  color: #333;
}

#home-a .specials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-top: 3rem;
}

#home-a .fas {
  color: #ffbc00;
  padding-bottom: 0.4rem;
}

#home-b .stats {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

#home-b .stats div {
  padding: 3rem 0;
}

#home-b .stats div:nth-child(odd) {
  background: #f4f4f4;
}

#home-b .stats div:nth-child(even) {
  background: #ccc;
}

#home-b .stats div li {
  line-height: 2;
}

#home-b .stats div li.stats-title {
  font-size: 1.5rem;
}

#home-b .stats div li.stats-number {
  font-size: 2rem;
  font-weight: bold;
}

#home-c .process {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  margin-top: 4rem;
}

#home-c .process-icon {
  background: #333;
  color: #fff;
  height: 70px;
  width: 70px;
  line-height: 70px;
  padding: 2rem;
  border-radius: 50%;
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#home-c .process-icon:hover {
  background: #ffbc00;
  color: #fff;
  height: 90px;
  width: 90px;
  line-height: 90px;
}

#home-c .process-icon:hover .process-step {
  background: #333;
  color: #fff;
}

#home-c .process-step {
  position: absolute;
  top: 0;
  right: 0;
  height: 15px;
  width: 15px;
  background: #ffbc00;
  color: #fff;
  font-size: 28px;
  padding: 1rem;
  border-radius: 50%;
  line-height: 15px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#about-a {
  padding: 3rem 0 0 0;
}

#about-a .about-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  grid-gap: 1.5rem;
}

#about-a .about-content .info {
  border-left: #ffbc00 3px solid;
}

#about-b .awards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

#about-b .awards .fas {
  color: #ffbc00;
  margin-bottom: 1rem;
}

#about-c .progress {
  overflow: hidden;
  background: #ccc;
  width: 100%;
  height: 20px;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

#about-c .progress div {
  background: #ffbc00;
  height: 100%;
}

#about-d .about-logo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

#about-d .about-logo img {
  width: 70%;
}

#about-e .testimonials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
}

#about-e .testimonials .comment {
  border: #ccc 1px solid;
  border-radius: 5px;
  padding: 0.5rem;
}

#about-e .testimonials .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

#about-e .testimonials .author .author-img {
  width: 50px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

#work-a .items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#work-a .item {
  position: relative;
  overflow: hidden;
}

#work-a .item::after {
  content: "";
  background: #ffbc00;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-125%) translateY(-125%) rotate(-28deg) scale(2);
          transform: translateX(-125%) translateY(-125%) rotate(-28deg) scale(2);
  -webkit-transition: -webkit-transform 2s cubic-bezier(0.2, 1, 0.3, 1);
  transition: -webkit-transform 2s cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 2s cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 2s cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 2s cubic-bezier(0.2, 1, 0.3, 1);
}

#work-a .item-image {
  -webkit-transition: -webkit-transform 0.75s cubic-bezier(0.2, 1, 0.3, 1);
  transition: -webkit-transform 0.75s cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 0.75s cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 0.75s cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 0.75s cubic-bezier(0.2, 1, 0.3, 1);
}

#work-a .item-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  opacity: 0;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  -webkit-transition: opacity 0.5s cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 0.5s cubic-bezier(0.2, 1, 0.3, 1);
  transition: opacity 0.5s cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 0.5s cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 0.5s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.5s cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 0.5s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.5s cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 0.5s cubic-bezier(0.2, 1, 0.3, 1);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#work-a .item-text-title {
  font-size: 2rem;
  padding: 0 1rem;
  margin: 5px 0 0 0;
}

#work-a .item-text-category {
  text-transform: uppercase;
  font-size: 1.2rem;
  opacity: 0.7;
}

#work-a .item:hover:after {
  -webkit-transform: translateX(0) translateY(0) rotate(-28deg) scale(2);
          transform: translateX(0) translateY(0) rotate(-28deg) scale(2);
}

#work-a .item:hover .item-image {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#work-a .item:hover .item-text {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#contact-a form .text-fields {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

#contact-a form .text-fields .text-input {
  padding: 0.5rem 1rem;
}

#contact-a form .text-fields textarea {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  height: 100px;
}

#contact-a form button[type="submit"] {
  margin: 100px 0 0 0;
  width: 50%;
  padding: 0.75rem 0;
}

#contact-b .contact-address {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

#contact-b .contact-address .fas {
  color: #fff;
  margin-bottom: 0.5rem;
}

#contact-c p {
  font-size: 4rem;
  font-weight: bold;
}

#footer {
  background: #333;
  color: #fff;
  padding: 1.5rem 0;
}

#footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .social-links .fab {
  border: #fff 2px solid;
  border-radius: 50%;
  padding: 0.5rem;
  margin-right: 1rem;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
}

#footer .social-links .fab:hover {
  background: #ffbc00;
}

@media (max-width: 800px) {
  #header-home {
    height: 50vh;
  }
  #header-home #header-content {
    height: 40vh;
  }
  #work-a .item-text-category {
    font-size: 0.8rem;
  }
  #work-a .item-text-title {
    font-size: 1.5rem;
  }
  #contact-c p {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  .l-heading {
    font-size: 3rem;
  }
  #home-a .specials,
  #home-b .stats,
  #home-c .process,
  #about-a .about-content,
  #about-b .awards,
  #about-e .testimonials,
  #work-a .items,
  #contact-a form .text-fields,
  #contact-b .contact-address {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #contact-a form .text-fields textarea {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  #nav-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #nav-bar li {
    padding: 1rem 0.8rem;
  }
  #header-home {
    height: 100vh;
    background-position-x: 40%;
  }
  #header-home #header-content {
    height: 80vh;
  }
  #home-a .specials div {
    border-bottom: 1px #f4f4f4 solid;
    padding-bottom: 1rem;
  }
  #home-a .specials div:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
  #home-b .stats div {
    padding: 2rem 0 1rem 0;
  }
  #about-b .awards div {
    border-bottom: 1px #f4f4f4 solid;
    padding-bottom: 1rem;
  }
  #about-b .awards div:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
  #about-d {
    display: none;
  }
  #contact-b .contact-address div {
    border-bottom: 1px #444 solid;
    padding-bottom: 1rem;
  }
  #contact-b .contact-address div:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
  #contact-c p {
    font-size: 2rem;
  }
  #footer .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #footer .social-links {
    margin-top: 1rem;
  }
}

@media (max-width: 320px) {
  #nav-bar li {
    padding: 1rem 0.5rem;
  }
}

@media (max-height: 500px) {
  .l-heading {
    font-size: 3rem;
  }
  #header-home {
    height: 100vh;
  }
  #header-home #header-content {
    height: 80vh;
  }
}
