@import "partials/variables";
@import "partials/reset";
@import "partials/functions";
@import "partials/mixins";
@import "partials/utilities";
@import "partials/generals";

#header {
  &-home {
    background: $dark-color;
    background: url("../img/showcase.jpg") no-repeat center center/cover;
    color: #fff;
    height: 100vh;
    #nav-bar {
      padding-top: 1rem;
      display: flex;
      justify-content: space-between;

      a {
        color: #fff;
      }
      img {
        width: 70px;
      }

      li {
        display: inline-block;
        padding: 1rem 1.5rem;
        a {
          display: inline-block;
          text-transform: uppercase;
          padding-bottom: 0.5rem;
          border-bottom: 3px transparent solid;
          transition: border-color 0.5s;
          &:hover {
            border-color: $medium-color;
          }
          &.current {
            border-color: $main-color;
          }
        }
      }
    }
    #header-content {
      margin-top: 20%;
    }
  }
}

#home {
  &-a {
    color: $dark-color;
    .bottom-line {
      background: $main-color;
      width: 3rem;
      height: 2px;
      margin: 1rem auto;
    }
    .specials {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;
      padding: 1rem 0;
    }
    .fas {
      color: $main-color;
    }
  }
}
