@import "partials/variables";
@import "partials/reset";
@import "partials/functions";
@import "partials/mixins";
@import "partials/utilities";
@import "partials/generals";

// Header Section
// ...........................................

// Navigation Bar
#nav-bar {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  a {
    color: #fff;
  }

  img {
    width: 70px;
  }

  li {
    display: inline-block;
    padding: 1rem 1.5rem;

    a {
      display: inline-block;
      text-transform: uppercase;
      padding-bottom: 0.5rem;
      border-bottom: 3px transparent solid;
      transition: border-color 0.5s;

      &:hover {
        border-color: $medium-color;
      }

      &.current {
        border-color: $main-color;
      }
    }
  }
}

// Showcase
#header {
  &-home {
    background: $dark-color;
    background: url("../img/showcase.jpg") no-repeat center center/cover;
    color: #fff;
    height: 100vh;
    overflow: hidden;

    #header-content {
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &-inner {
    background: url("../img/showcase.jpg") 20% 30% / cover;
    border-bottom: $main-color 3px solid;
  }
}

// Home Page
// ............................................
#home {
  // Section A
  &-a {
    color: $dark-color;
    .specials {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;
      margin-top: 3rem;
    }

    .fas {
      color: $main-color;
      padding-bottom: 0.4rem;
    }
  }

  // Section B
  &-b {
    .stats {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      div {
        padding: 3rem 0;

        &:nth-child(odd) {
          background: $light-color;
        }

        &:nth-child(even) {
          background: $medium-color;
        }

        li {
          line-height: 2;

          &.stats-title {
            font-size: 1.5rem;
          }

          &.stats-number {
            font-size: 2rem;
            font-weight: bold;
          }
        }
      }
    }
  }

  // Section C
  &-c {
    .process {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.5rem;
      margin-top: 4rem;

      &-icon {
        background: $dark-color;
        color: set-text-color($dark-color);
        height: 70px;
        width: 70px;
        line-height: 70px;
        padding: 2rem;
        border-radius: 50%;
        position: relative;
        transition: all 1s;

        &:hover {
          background: $main-color;
          color: set-text-color($main-color);
          height: 90px;
          width: 90px;
          line-height: 90px;

          .process-step {
            background: $dark-color;
            color: set-text-color($dark-color);
          }
        }
      }

      &-step {
        position: absolute;
        top: 0;
        right: 0;
        height: 15px;
        width: 15px;
        background: $main-color;
        color: set-text-color($main-color);
        font-size: 28px;
        padding: 1rem;
        border-radius: 50%;
        line-height: 15px;
        transition: all 1s;
      }
    }
  }
}

// About Page
// ............................................
#about {
  // Section A
  &-a {
    padding: 3rem 0 0 0;
    .about-content {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 1.5rem;
      .info {
        border-left: $main-color 3px solid;
      }
    }
  }

  // Section B
  &-b {
    .awards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      .fas {
        color: $main-color;
        margin-bottom: 1rem;
      }
    }
  }

  // Section C
  &-c {
    .progress {
      overflow: hidden;
      background: $medium-color;
      width: 100%;
      height: 20px;
      border-radius: 5px;
      margin-bottom: 0.5rem;

      div {
        background: $main-color;
        height: 100%;
      }
    }
  }

  // Section D
  &-d {
    .about-logo {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2rem;

      img {
        width: 70%;
      }
    }
  }

  // Section D
  &-e {
    .testimonials {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 0.5rem;

      .comment {
        border: $medium-color 1px solid;
        border-radius: 5px;
        padding: 0.5rem;
      }

      .author {
        display: flex;
        justify-content: left;
        align-items: center;
        margin-top: 1rem;

        .author-img {
          width: 50px;
          border-radius: 50%;
          margin-right: 0.5rem;
        }
      }
    }
  }
}

// Work Page
// ............................................
#work {
  &-a {
    .items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

    .item {
      position: relative;
      overflow: hidden;

      &::after {
        content: "";
        background: $main-color;
        opacity: 0.9;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-125%) translateY(-125%) rotate(-28deg) scale(2);
        transition: transform 2s cubic-bezier(0.2, 1, 0.3, 1);
      }

      &-image {
        transition: transform 0.75s cubic-bezier(0.2, 1, 0.3, 1);
      }

      &-text {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: #fff;
        opacity: 0;
        transform: translateY(-20%);
        transition: transform 0.5s cubic-bezier(0.2, 1, 0.3, 1),
          opacity 0.5s cubic-bezier(0.2, 1, 0.3, 1);
        transition-delay: 0.3s;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-title {
          font-size: 2rem;
          padding: 0 1rem;
          margin: 5px 0 0 0;
        }

        &-category {
          text-transform: uppercase;
          font-size: 1.2rem;
          opacity: 0.7;
        }
      }
      &:hover {
        &:after {
          transform: translateX(0) translateY(0) rotate(-28deg) scale(2);
        }

        .item-image {
          transform: scale(1.2);
        }

        .item-text {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}

// Contact Page
// ............................................
#contact {
  // Section A
  &-a {
    form {
      .text-fields {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        width: 100%;

        .text-input {
          padding: 0.5rem 1rem;
        }

        textarea {
          grid-column: 1 / span 2;
          height: 100px;
        }
      }
    }
    button[type="submit"] {
      margin: 2rem 0 0 0;
      width: 50%;
      padding: 0.75rem 0;
    }
  }
}

// Section B
&-b {
  .contact-address {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .fas {
      color: set-text-color($dark-color);
      margin-bottom: 0.5rem;
    }
  }
}

// Section C
&-c {
  p {
    font-size: 4rem;
    font-weight: bold;
  }
}

// Footer Section
// ............................................
#footer {
  background: $dark-color;
  color: #fff;
  padding: 1.5rem 0;

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .social-links .fab {
    border: #fff 2px solid;
    border-radius: 50%;
    padding: 0.5rem;
    margin-right: 1rem;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;

    &:hover {
      background: $main-color;
    }
  }
}

// Media Queries
@import "partials/mobile";
